* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family:'Roboto Mono', sans-serif;
}

nav {
    background-color: #FFFFFF;
    /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);*/
}

nav ul {

    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    font-size: 14px;
    height: 100%;
    padding: 0 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav li:first-child {
    margin-right: auto; 
}

/* <weight>: Use a value from 100 to 700 */
/*  <uniquifier>: Use a unique and descriptive class name */
.roboto-mono-font {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* grid container for portfolio page */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px; /* rows 200px tall */ 
    /*gap: 40px;*/
    place-items: center; /* centers items both horizontally and vertically */
    column-gap: 10px;
    row-gap: 300px;
    font-size: 12px;
    padding-top: 50px;
    padding-bottom: 160px;
}

/* container for text on index page */
.index-text-container {
    font-size: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 86dvh;
    padding-bottom: 0;
}

footer {
    font-size: 12px;
    position: absolute;
    padding: 20px
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.center-vertical-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*ul {
    font-size: 14px;
    list-style-type: disc;
    display: list-item;
    padding: 15 15 15 15;
} */

.contact-list {
    list-style-type: disc; 
    font-size: 14px;
    position: relative;
    top: -230px;
    left: 30px;
}